
.App-title {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.App-bottom-bar {
  left: 0;
  right: 0;
  position: absolute;
  bottom: 0;
  padding: inherit;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-icon {
  margin-right: 0.5rem;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
